<!-- templates/home.html -->

{% extends 'base.html' %}
{% block content %}
    <h2 align="center">Category List</h2>
    <div class="post-entry">
    <table align="center">
      <tr>
        <th>Name</th>
        <th>Image</th>
      </tr>
    {% for list in category %}
        <tr>
            <td><a href="{% url 'category_details' list.pk %}">{{ list.title }}</a></td>
            <td><img src="{{ list.image.url }}" alt="{{ list.title }}" width="300"></td>
        </tr>


    {% endfor %}

    </table>
    </div>
    {% endblock content %}